<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.dao.ConfigMapper">
    <select id="findConfigByUid" parameterType="cn.itcast.pojo.Config"
            resultType="cn.itcast.pojo.Config">
        select * from config where uid= #{uid} and type=#{type}
    </select>
    <select id="findConfigsByUid" parameterType="cn.itcast.pojo.Config"
            resultType="cn.itcast.pojo.Config">
        select * from config where uid= #{uid}
    </select>    
    <select id="findConfigFlag" parameterType="cn.itcast.pojo.Config"
            resultType="cn.itcast.pojo.Config">
        select c.uid, c.marketAmount, c.rate, `apikey` as `type`, `secretkey` as lossWorkingType from config c, user u 
        where c.uid = u.id and type=#{type} and autoTrade = 1 and u.role like "%"#{lossWorkingType}"%"
        
    </select>        
    <update id="updateConfig" parameterType="cn.itcast.pojo.Config">
		UPDATE config SET marketAmount = #{marketAmount}, limitAmount = #{limitAmount}, maxLoss = #{maxLoss}, 
			tradeOffset = #{tradeOffset}, lossTriggerOffset = #{lossTriggerOffset}, lossEntrustOffset = #{lossEntrustOffset}, 
			lossWorkingType = #{lossWorkingType}, lossType = #{lossType}, rate = #{rate}, 
			autoTrade = #{autoTrade}, autoCancel = #{autoCancel} WHERE id = #{id}
    </update>    
</mapper>