<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.dao.MailMapper">
    <insert id="insertMail" parameterType="cn.itcast.pojo.Mail">
		INSERT INTO `transaction`.`mail` ( `uid`, `symbol`, subject, `content`, `state`, `createTime`, `updateTime`) 
		VALUES (#{uid}, #{symbol}, #{subject}, #{content}, #{state},  #{createTime},  #{updateTime} );
    </insert>
    <update id="updateConfig" parameterType="cn.itcast.pojo.Mail">
		UPDATE mail SET state = #{state}, updateTime = #{updateTime} WHERE id = #{id}
    </update>    
    <select id="findUnsentMail" resultType="cn.itcast.pojo.Mail">
        select m.id as id, u.mail as symbol, m.subject, m.content from mail m, user u 
        where m.uid = u.id and state = 0 and updateTime > DATE_SUB(NOW(),INTERVAL  1 HOUR) 
    </select>     
</mapper>