<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.dao.MonitorMapper">
    <select id="findMoniteInfo" resultType="cn.itcast.pojo.Monitor">
        select m.id, m.uid, u.username, u.nickname, m.type, m.mails, u.apikey, u.secretkey from monitor m, user u where u.status = 1 and m.uid = u.id
    </select>
</mapper>