<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.dao.PlanMapper">
    <insert id="insertPlan" parameterType="cn.itcast.pojo.Plan" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `plan` (uid, pid, symbol, first, second, third, stop, `trigger`, compare, `trigger1`, compare1, state, createTime, updateTime, `type`, orderIds) 
        	VALUES (#{uid}, #{pid}, #{symbol}, #{first}, #{second}, #{third}, #{stop}, #{trigger}, #{compare}, #{trigger1}, #{compare1}, #{state}, #{createTime}, #{updateTime}, #{type}, #{orderIds});
    </insert>
    <select id="findPlanByUid" parameterType="String"
            resultType="cn.itcast.pojo.Plan">
        select * from `plan` where uid = #{uid} and state &lt; 4 order by createTime;
    </select>         
    <select id="findPlanByTime" parameterType="Integer"
            resultType="cn.itcast.pojo.Plan">
        SELECT p.* FROM plan p, USER u WHERE u.id = p.uid AND u.role = 0 AND createTime > DATE_SUB(NOW(),INTERVAL #{time} DAY) and state &gt; 3 order by createTime;
    </select>     
    <select id="findFllowPlans" parameterType="String"
            resultType="cn.itcast.pojo.Plan">
        SELECT p.* FROM plan p, USER u WHERE state &lt; 4 AND u.id = p.uid AND u.role = 0 order by createTime;
    </select>        
    <update id="updatePlanById" parameterType="cn.itcast.pojo.Plan">
        update `plan` set state = #{state}, updateTime = #{updateTime}, orderIds = #{orderIds} where id = #{id};
    </update>   
    <select id="findPlanById" parameterType="Integer"
            resultType="cn.itcast.pojo.Plan">
        select * from `plan` where id = #{id}
    </select>
    <select id="findPlansById" parameterType="Integer"
            resultType="cn.itcast.pojo.Plan">
		SELECT p.id, p.uid, `symbol`, first, second, third, stop, `apikey` as createTime, `secretkey` as updateTime, `orderIds` FROM `plan` p, user u 
		where p.uid = u.id and p.pid = #{id} AND p.state &lt; 4
    </select>   
    <select id="findPlansByState" parameterType="String"
            resultType="cn.itcast.pojo.Plan">
        select p.`id`, p.`uid`, p.`pid`, p.`symbol`, p.`first`, p.`second`, p.`third`, p.`stop`, p.`trigger`, p.`compare`, p.`trigger1`, p.`compare1`, p.`state`, 
        	u.apikey as createTime, u.secretkey as updateTime, p.`type`, p.`orderIds` from `plan` p, user u where p.uid = u.id and state = #{state}
    </select>  
    <select id="findPlansByState1" resultType="cn.itcast.pojo.Plan">
        select p.`id`, p.`uid`, p.`pid`, p.`symbol`, p.`first`, p.`second`, p.`third`, p.`stop`, p.`trigger`, p.`compare`, p.`trigger1`, p.`compare1`, p.`state`, 
        	u.apikey as createTime, u.secretkey as updateTime, p.`type`, p.`orderIds` from `plan` p, user u where p.uid = u.id and state &lt; 4
    </select>        
</mapper>